<header class="o-header screen-tablet:layout--sidebar">
  <div class="o-header__banner-main color-primary-button">
    <button data-js="toggle" aria-pressed="false" aria-expanded="false" aria-controls="navigation" class="o-header__main-toggle cursor-pointer underline font-bold">Menu</button>

    <h1 class="o-header__main-title">
      <span class="hidden">{{ package.author }}</span>

      <svg aria-hidden="true"
        class="o-header__logo-main icon-logo-nyco">
        <use xlink:href="#icon-logo-nyco"></use>
      </svg>

      <svg aria-hidden="true" class="o-header__logo-secondary icon-logo-nyco">
        <use xlink:href="#icon-logo-nyco"></use>
      </svg>
    </h1>

    <div aria-hidden="true" class="o-header__main-version">v{{ package.version }}</div>
  </div>

  <div class="o-header__banner-secondary color-dark-background">
    <h1 class="o-header__secondary-title text-jumbo">{{ package.title }}</h1>
    <a href="#main-content">Skip to main content</a>
  </div>

  <div class="o-header__secondary-version color-dark-background">
    <div>
      <span class="btn flex items-center cursor-auto">
      {# <a class="btn flex items-center" href="{{ package.homepage }}/tree/v{{ package.version }}"> #}
      {# <svg aria-hidden="true" class="icon-github-mark icon-small mr-1">
        <use xlink:href="#icon-github-mark"></use>
      </svg> #}
        v{{ package.version }}
      {# </a> #}
      </span>
    </div>
  </div>
</header>