{# <nav class="{{ classes.nav }}">
  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="overview">Overview</a>
</nav> #}

<nav class="{{ classes.nav }}">
  <span class="{{ classes.header }}">Guide</span>

  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="overview">Overview</a>
  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="getting-started"><span class="{{ classes.number }}">01</span> Getting Started</a>
  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="http://eepurl.com/gfLTuH" target="_blank"><span class="{{ classes.number }}">02</span> Request an Account</a>
  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="token-based-authentication"><span class="{{ classes.number }}">03</span> Token Based Authentication</a>
  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="making-a-request"><span class="{{ classes.number }}">04</span> Making a Request</a>
  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="endpoints"><span class="{{ classes.number }}">05</span> Endpoints</a>
  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="sample-data-and-code"><span class="{{ classes.number }}">06</span> Sample Data and Code</a>
  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="feedback-and-support"><span class="{{ classes.number }}">07</span> Feedback and Support</a>
</nav>

<nav class="{{ classes.nav }}">
  <span class="{{ classes.header }}">Tools</span>

  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="request-builder">Request Builder</a>
  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="change-password-form">Change Password Form</a>
  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="bulk-submission-form">Bulk Submission Form</a>
</nav>

<nav class="{{ classes.nav }}">
  <span class="{{ classes.header }}">Reference</span>

  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="eligibility-guidelines">Eligibility Guidelines</a>
  <a class="{{ classes.link }}" {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} href="terms-of-service">Terms of Service</a>
</nav>