<nav>
  <a class="{{ classes.link }}" href="overview">Overview</a>

  <span class="{{ classes.header }}">Guide</span>
  <a class="{{ classes.link }}" href="getting-started">Getting Started</a>
  <a class="{{ classes.link }}" href="http://eepurl.com/gfLTuH" target="_blank">Request an Account</a>
  <a class="{{ classes.link }}" href="token-based-authentication">Token Based Authentication</a>
  <a class="{{ classes.link }}" href="making-a-request">Making a Request</a>
  <a class="{{ classes.link }}" href="endpoints">Endpoints</a>
  <a class="{{ classes.link }}" href="sample-data-and-code">Sample Data and Code</a>

  <span class="{{ classes.header }}">Tools</span>
  <a class="{{ classes.link }}" href="request-builder">Request Builder</a>
  <a class="{{ classes.link }}" href="change-password-form">Change Password Form</a>
  <a class="{{ classes.link }}" href="bulk-submission-form">Bulk Submission Form</a>

  <span class="{{ classes.header }}">Reference</span>
  <a class="{{ classes.link }}" href="eligibility-guidelines">Eligibility Guidelines</a>
  <a class="{{ classes.link }}" href="feedback-and-support">Feedback and Support</a>
  <a class="{{ classes.link }}" href="terms-of-service">Terms of Service</a>
</nav>