{% set navclass = "inline-block screen-tablet:block screen-tablet:border-b border-primary-blue-30t p-1 screen-tablet:p-2" %}
<nav class="screen-tablet:pb-2">
  <a class="{{navclass}}" href="/">Overview</a>
  <a class="{{navclass}}" href="terms-of-service">Terms of Service</a>
  <a class="{{navclass}}" href="request-an-account">Request an Account</a>
  <a class="{{navclass}}" href="request-account-form">Request Account Form</a>
  <a class="{{navclass}}" href="set-password-and-token-based-authentication">Set Password and Token Based Authentication</a>
  <a class="{{navclass}}" href="eligibility-guidelines">Eligibility Guidelines</a>
  <a class="{{navclass}}" href="making-a-request">Making a Request</a>
  <a class="{{navclass}}" href="endpoints">Endpoints</a>
  <a class="{{navclass}}" href="sample-code-and-sdks">Sample Data, Code, and SDKs</a>
  <a class="{{navclass}}" href="feedback-and-support">Feedback and Support</a>

  {# <ul>
    <li>
      <a href="/">Overview</a>
    </li>
    <li>
      <a href="terms-of-service">Terms of Service</a>
    </li>
    <li>
      <a href="request-an-account">Request an Account</a>
    </li>
    <li>
      <a href="request-account-form">Request Account Form</a>
    </li>
    <li>
      <a href="set-password-and-token-based-authentication">Set Password and Token Based Authentication</a>
    </li>
    <li>
      <a href="eligibility-guidelines">Eligibility Guidelines</a>
    </li>
    <li>
      <a href="making-a-request">Making a Request</a>
    </li>
    <li>
      <a href="endpoints">Endpoints</a>
    </li>
    <li>
      <a href="sample-code-and-sdks">Sample Data, Code, and SDKs</a>
    </li>
    <li>
      <a href="feedback-and-support">Feedback and Support</a>
    </li>
  </ul>
</nav>
 #}
