<nav class="{{ classes.nav_one }}">
  <a class="{{ classes.li }} {{ classes.border }}" href="index">Overview</a>
  <a class="{{ classes.li }} {{ classes.border }}" href="getting-started">Getting Started</a>
  <a class="{{ classes.li }} {{ classes.border }}" href="set-password-and-token-based-authentication">Set Password and Token Based Authentication</a>
  <a class="{{ classes.li }} {{ classes.border }}" href="making-a-request">Making a Request</a>
  <a class="{{ classes.li }} {{ classes.border }}" href="endpoints">Endpoints</a>
  <a class="{{ classes.li }}" href="sample-code-and-sdks">Sample Data, Code, and SDKs</a>
</nav>

<nav class="{{ classes.nav_two }}">
  <a class="{{ classes.li }} {{ classes.border }}" href="http://eepurl.com/gfLTuH" target="_blank">Request an Account</a>
  <a class="{{ classes.li }} {{ classes.border }}" href="eligibility-guidelines">Eligibility Guidelines</a>
  <a class="{{ classes.li }} {{ classes.border }}" href="feedback-and-support">Feedback and Support</a>
  <a class="{{ classes.li }}" href="terms-of-service">Terms of Service</a>
</nav>