{% include "../partials/head.twig" %}

<body>
  <div class="hidden">
    {% include "../partials/icons.twig" %}
  </div>
  <header class="screen-tablet:layout--sidebar screen-tablet:flex">
    <div class="flex items-center justify-center bg-primary-blue text-base-white screen-tablet:w-64 p-3 screen-tablet:p-4">
      <h1 class="m-0 p-0">
        <span class="hidden">
          {{ package.author }}
        </span>

        <svg class="icon-logo text-base-white" aria-hidden='true'>
          <use xlink:href="#icon-logo">
        </svg>
      </h1>
    </div>

    <div class="flex-1 flex flex-col content-center justify-center color-dark-background p-3 screen-tablet:p-4 screen-desktop:px-6">
      <h1 class="jumbo mt--2 mb-0">{{ package.title }}</h1>
      <a href="#main-content">Skip to main content</a>
    </div>

    <div class="flex flex-col content-center justify-center color-dark-background px-3 pb-3 screen-tablet:p-4">
      <div>
        <a href="{{ package.homepage }}" class='btn'>v{{ package.version }}</a>
      </div>
    </div>
  </header>

  <main class="screen-tablet:layout--sidebar screen-tablet:flex items-stretch m-0 p-0 min-h-screen">
    <aside class="color-mid-background py-2 px-3">
      {% include "../partials/nav.twig" with { 'classes': {
        'nav_one': 'screen-tablet:pb-4 screen-tablet:border-b',
        'nav_two': 'screen-tablet:pb-2 screen-tablet:pt-4',
        'li': 'inline-block screen-tablet:block p-1 screen-tablet:p-2',
        'border': 'screen-tablet:border-b border-primary-blue-30t'
       } } only %}
    </aside>

    <article id="main-content" class="color-light-background py-2 px-4 screen-desktop:px-6">
      {% block container %}
      <section class="flex flex-col screen-desktop:flex-row flex-wrap pb-4">
        <div class="mt-4 layout--content">
          <div class="screen-desktop:pr-4 screen-desktop:pr-6">
            {% if title %}<h1 class="mt-0 p-0">{{ title }}</h1>{% endif %}
            {% block content %}{% endblock %}
          </div>
        </div>
      </section>
      {% endblock %}
    </article>
  </main>

  {% include "../partials/footer.twig" %}

  <script src="js/source.js"></script>
  {% block scripts %}{% endblock %}

</body>
</html>